@import url(https://fonts.google.com/specimen/Montserrat);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background-color: #d7d7d7;
}

.main-menu{
  display: flex;
  background-color: aqua;
}

.container-menu{
  height: 70px;
  width: 65px;
  background-color: #fff;
  border-radius: 50px;
  position: absolute;
  z-index: 3;
  transition: 0.4s ease;
  box-shadow: 2px 5px 5px rgb(103, 103, 103);
}

.container-menu.active {
  height: 85vh;
  border: 2px solid #ffffff;
}

.toggleBox-menu{
  position: relative;
  display: block;
  height: 70px;
  width: 65px;
  border-radius: 50px;
} 
  
.icon-menu{
  position: absolute;
  height: 4px;
  width: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  border-radius: 50px;
}

.toggleBox-menu.active .icon-menu{
  width: 0;
}
  
.icon-menu::before, .icon-menu::after{
  position: absolute;
  content: '';
  height: 4px;
  width: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  border-radius: 50px;
  transition: 0.3s;
}
  
.icon-menu::before{
  top: 12px;
}
  
.icon-menu::after{
  bottom: 8px;
}
  
.toggleBox-menu.active .icon-menu::before{
  width: 40px;
  transform-origin: right;
  transform: translate(-25px, 4px) rotate(45deg);
}
  
.toggleBox-menu.active .icon-menu::after{
  width: 40px;
  transform-origin: right;
  transform: translate(-25px, -6px) rotate(-45deg);
}

.navItems-menu{
  width: 100%;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
  
.container-menu.active .navItems-menu{
  visibility: visible;
}
  
.li-menu{
  list-style: none;
  position: relative;
  top: 20vh
}
  
.li-menu .link-menu i{
  position: relative;
  display: block;
  font-size: 40px;
  color: #11101D;
  padding: 5px;
  width: 100%;
  text-align: center;
  transform: scale(0);
  margin-top: 5px;
}

.saida .link-menu i{
  position: relative;
  display: block;
  font-size: 40px;
  color: #11101D;
  width: 100%;
  text-align: center;
  transform: scale(0);
}

.link-menu{ 
  color: aqua;
}
.container-menu.active .navItems-menu .link-menu i{
  transform: scale(1);
  transition: 0.4s ease;
  transition-delay: calc(0.08s * var(--i));
}
  
.container-menu.active .navItems-menu li:hover .link-menu i{
  transition: 0.2s ease;
  color: rgba(6, 74, 140, 1);
}

/* Modal styling */
.modal2 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 60px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content2 {
  background-color: #fefefe;
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
